<section class="row">
  <h1 class="my-4">List of employees</h1>
  <div class="col-12">
    @if (isLoader == true) {
    <div class="spinner-border m-5" role="status">
      <span class="sr-only"></span>
    </div>

    } @else {
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role in Company</th>
          <th>Hire Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.roleInCompany }}</td>
          <td>{{ employee.hireDate | date }}</td>
          <td class="d-flex items-center gap-4">
            <a href="">Details</a>
            <button
              class="btn btn-light"
              (click)="onUpdate(employee.id, employee.officeId)"
            >
              Update
            </button>
            <button class="btn btn-danger" (click)="onDelete(employee.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    }
  </div>
</section>
