<section>
  <h1>Sign Up</h1>
  <form>
    <label for="displayName">DisplayName</label>
    <input id="displayName" type="text" />

    <label for="username">Username</label>
    <input id="username" type="password" />

    <label for="email">Email Address</label>
    <input id="email" type="email" />

    <label for="password">Password</label>
    <input id="password" type="password" />

    <button type="submit">Log in</button>
  </form>
  <p>Already have account? <a href="/">Log In</a></p>
</section>
