<section id="register-section" class="row">
  <h1>Sign Up</h1>
  <form>
    <div class="mb-3">
      <label for="displayName" class="form-label">DisplayName</label>
      <input id="displayName" type="text" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" type="password" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input id="email" type="email" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" type="password" class="form-control" />
    </div>

    <button type="submit" class="mb-3 btn">Sign Up</button>
  </form>
  <p>Already have account? <a routerLink="/login">Log In</a></p>
</section>
